@import '../../Colors';

.pokemon {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-name {
    font-size: 30px;
    padding-bottom: .5em;
  }

  &-img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(10px 10px 10px #000);
    filter: drop-shadow(10px 10px 10px #000);
  }

  &-id {
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 0 0 $baby-blue, -1px 0 0 $baby-blue, 0 1px 0 $baby-blue, 0 -1px 0 $baby-blue, 1px 1px $baby-blue, -1px -1px 0 $baby-blue, 1px -1px 0 $baby-blue, -1px 1px 0 $baby-blue;
    color: #000;
    font-size: 2rem;

    &-close {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &-types {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 1em;
  }

  &-weight {
    font-size: 20px;
  }

  &-x-btn {
    border: none;
    background: none;
  }

  &-x-icon {
    font-size: 2rem;
    color: $light-blue;
  }
}

@media (max-width: 800px) {
  .pokemon-name {
    font-size: 24px;
  }
}