@import '../../Colors';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 100vh;
    background-color: $black;
    padding: 1rem;
    border-radius: 14px;
    border: 3px solid #000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
}

@media (max-width: 1400px) {
    .modal {
        width: 300px;
    }
}

@media (max-width: 1024px) {
    .modal {
        width: 220px;
    }
}