$blue: #3A3873;
$light-blue: #6581A6;
$baby-blue: #13F2DC;
$green: #A7D9B8;
$black: #0D0D0D;

:export {
  blue: $blue;
  light-blue: $light-blue;
  baby-blue: $baby-blue;
  green: $green;
  black: $black;
}